*.class
*.log

# sbt specific
battleship/.cache/
battleship/.history/
battleship/.lib/
battleship/dist/*
battleship/target/
battleship/lib_managed/
battleship/src_managed/
battleship/project/boot/
battleship/project/plugins/project/

# Scala-IDE specific
battleship/.scala_dependencies
battleship/.worksheet
battleship/.idea
battleship/project/

